<div	class="container	content">
	<div	class="row">
		<div	class="col-md-6	offset-md-3">
			<span	class="anchor"	id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div	class="card	card-outline-secondary">
				<div	class="card-header">
					<h3	class="mb-0">Whishlist</h3>
				</div>
				<div	class="card-body">
					<app-form-detino-viaje (onItemAdded)="guardar($event)"></app-form-detino-viaje>
				</div>
			</div>
		</div>
	</div>
	<hr	class="mb-5">
	<div	class="row">
		<app-destino-viaje class="col-md-4" 
		*ngFor = "let x of destinos; let i=index " 
		[destino] = "x" 
		[posicion] = "i"
		(clicked) = "elegido($event)"
		appEspiame
		class="col-md-4"></app-destino-viaje>
	</div>

	<hr>

	<hr	class="mb-5">
	<div	class="row">
	<h6>Actividad</h6>
	<ul>
		<li *ngFor= "let u of update;">{{u}}</li>
	</ul>
	</div>
</div>