	<div	class="card-content">
		<div	class="card-img">
			<img	src="https://placeimg.com/380/230/nature"	alt="">
			<span><h4>{{posicion}}</h4></span>
		</div>
		<div	class="card-desc">
			<h3>{{destino.nombre}}</h3>
			<ul>
				<li *ngFor =" let x of destino.comodidades">
					<span [ngSwitch] = "x">
						<p *ngSwitchCase="'Wifi'" style="color: blue">{{x}}</p>
						<p *ngSwitchDefault>{{x}}</p>
					</span>
				</li>
			</ul>
			<a	href="#"	class="btn-card" (click)= "ir()">Ir</a>	
			<a	 [routerLink] = "'/destino'"	class="btn-card">Ver detalle</a>
			<span *ngIf="destino.isSelected()" >Preferido</span>
			<span ngNonBindable>{{utilizando nonBindable}}</span>		
		</div>
	</div>
